{% extends "base.html" %}

{% block content %}

<img style="width : 15%;margin-left: auto;margin-right: 20px;display: block;"
        src="{{ url_for('static', filename='img/tele.jpg') }}">

<h1 style='text-align: right; padding-right:20px' >Video projects</h1>

<div style='margin-left : 10%'>
    <div class='video-container'>
        <div class="video-subcontainer">
            A parody of Drake 2015's hit Hotline Bling. A professor has replaced Drake's lover. Will he succeed in making Teams work to give his courses online ?
        </div>
        <iframe src="https://youtube.com/embed/_mpLBkI9SDM" 
            allowfullscreen="" 
            width="530px" 
            frameborder="0"
            height="300px">
        </iframe>
    </div>
    <div  class='video-container'>
        <div class="video-subcontainer">
            <b>Numéro 8</b> : a video made during a 48h Film-making competition at Montbéliard. The thema was "Huit-clos". It was strangely premonitory of the coming pandemic...
        </div>
        <iframe src="https://youtube.com/embed/yfLxAYHzkJo" 
            allowfullscreen="" 
            width="530px" 
            frameborder="0"
            height="300px">
        </iframe>
    </div>
    <div  class='video-container'>
        <div class="video-subcontainer">
            <b>The printer</b> : a 25 minutes long parody of The Lobster by Yórgos Lánthimos. Here, it is forbidden to leave university without a perfect internship. The infrigers will be turn into office equipments... 
        </div>
        <iframe src="https://youtube.com/embed/Erdvhe3xUCE" 
            allowfullscreen="" 
            width="530px" 
            frameborder="0"
            height="300px">
        </iframe>
    </div>
</div>
    
{% endblock %} 